@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
}

#workspaces {
  margin: 0 2px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#workspaces button {
  padding: 0 8px;
  color: @color8;
  background: transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.12s ease;
}

#workspaces button.active {
  color: @color4;
  border-bottom: 2px solid @color4;
  opacity: 1;
}

#workspaces button.hidden {
  color: @foreground;
}

button:hover {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: none;
  color: inherit;
  border: none;
  outline: none;
  opacity: 1;
  border-top: 2px solid @foreground;
}

#clock,
#custom-sep,
#battery,
#pulseaudio,
#cpu,
#memory,
#disk,
#network,
#tray {
  padding: 0 4px;
}

#custom-sep {
  color: @color8;
  opacity: 0.6;
  font-size: 15px;
  padding: 0 1px;
}

#clock {
  padding: 0 14px;
  color: @color5;
  border-bottom: 2px solid @color5;
}

#clock.date {
  padding: 0 8px;
  color: @color5;
  border-bottom: 2px solid @color5;
}

#cpu {
  color: @color9;
  border-bottom: 2px solid @color9;
}

#memory {
  color: @color11;
  border-bottom: 2px solid @color11;
}

#disk {
  color: @color13;
  border-bottom: 2px solid @color13;
}

#pulseaudio {
  color: @color12;
  border-bottom: 2px solid @color12;
}

#pulseaudio.muted {
  color: @color8;
  border-bottom: 2px solid @color8;
  opacity: 0.5;
}

#network {
  color: @color14;
  border-bottom: 2px solid @color14;
}

#tray {
  background-color: transparent;
  border-bottom: 2px solid @color12;
}

#battery {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @color11;
  border-bottom: 2px solid @color11;
}

#battery.charging {
  color: #26a65b;
  border-bottom: 2px solid #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
  border-bottom: 2px solid #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  border-bottom: 2px solid #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-vpn {
  font-size: 11px;
  padding: 0 8px;
  padding-right: 8px;
  margin-right: 4px;
  color: @color1;
  border-bottom: 2px solid @color1;
}
