# --- NAVIGATION & PAGING ---
move_down                   j
move_up                     k
move_right                  h
move_left                   l
screen_down                 <Space>
screen_up                   <S-Space>
goto_page_with_page_number  p

# --- VIEW & UI ---
zoom_in                     K
zoom_out                    J
fit_to_page_width           S
toggle_custom_color         i
toggle_statusbar            <C-n>
toggle_two_page_mode        <C-d>
q <A-q>

# --- FILE & SEARCH ---
_fileopen                   o
open_prev_doc               O
open_link                   f
search                      /
command                     :

# --- RESEARCH TOOLS ---
keyboard_smart_jump         <C-f>
keyboard_overview           <S-f>
goto_definition             <C-b>
pop_state                   <C-t>

# --- HIGHLIGHTS & CLIPBOARD ---
copy                        <A-c>
add_highlight               H
goto_highlight              gh
delete_highlight            dh

# --- BOOKMARKS & MARKS ---
add_bookmark                b
goto_bookmark               gb
delete_bookmark             db
set_mark                    m
goto_mark                   gm

# --- PORTALS ---
portal                      P
goto_portal                 gp
delete_portal               dp

# --- VISUAL MARK MODE ---
enter_visual_mark_mode      V
move_visual_mark_down       <C-j>
move_visual_mark_up         <C-k>
