# --- EXTERNAL RESOURCES ---
source                          ~/.config/sioyek/sioyek-colors.conf
new_command _fileopen           foot -e yazi ~/Library

# --- STARTUP & CORE BEHAVIOR ---
startup_commands                toggle_custom_color
super_fast_search               1
case_sensitive_search           0

# --- INTERFACE & STATUS BAR ---
show_document_name_in_statusbar 1
page_separator_width            0
draw_border                     0

# --- RULER & VISUAL MARK ---
ruler_mode                      1
ruler_padding                   5.0
ruler_x_padding                 5.0
visual_mark_next_page_fraction  0.5

# --SEARCH --
search_url_g https://www.google.com/search?q=
search_url_s https://www.startpage.com/sp/search?query=
search_url_d https://duckduckgo.com/?q=
